
<div id="drawingwrapper">

<div id="toolbar">
  <div id="size">
    <div id="decrad" class="radcontrol">-</div>
    <div id="incrad" class="radcontrol">+</div>
    Size <span id="radval">10</span>
  </div>
  
  <div id="shape">
    <div id="round" class="shapecontrol">+</div>
    <div id="square" class="shapecontrol">=</div>
    Shape <span id="shapeval">o</span>
  </div>

  <div id="clear">
    <div class="clearcanvas">x</div>
  </div>

  <div id="colors">
  </div>

</div>

	<canvas id="drawing" width="600" height="600"></canvas>

<div>
  
	<button id="savecanvas" value="submit">save</button>



<!--<%= link_to ("Go to picture index"), index_path %>-->