

    <div id="drawingmenu">
      
      <div class="pallette">
        <label>Pallette

        <select id="pallette">

          <option value="red">Red
          </option>
          <option value="pink">Pink
          </option>
          <option value="blue">Blue
          </option>
          <option value="#00ff00">Green
          </option>

        </select>

        </label>
      </div>

      <div class="drawing-tool">
        <label>Drawing tool

        <select id="size">

        	<option id="pencil" value="6">Pencil
          </option>
          <option  value="10">Marker
          </option>
          <option value="14">8byte
          </option>

        </select>

        </label>
      </div>


      <button id="clear" value="clear">x</button>

    <div>



	<canvas id="drawing" width="600" height="600"></canvas>


	<button id="savecanvas" value="submit">save</button>

</div>


<!--<%= link_to ("Go to picture index"), index_path %>-->