

<canvas class="showCanvas" width="600" height="600"></canvas>

	<div class="controls">
		<%= link_to('delete', @picture, :method => 'delete', :id => 'deletecanvas', :data => { :confirm => 'Are you sure?' } ) %>
	</div>