// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  margin: 0;
  padding: 0;  
}

div.pallette, div.drawing-tool {
  width: 48%;
  float: left;
}

div.drawing-tool {
  float: right;
}

div.pallette *, div.drawing-tool * {
  max-width: 100%;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #384047;
  background: #eaeaea;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

canvas#drawing, canvas.showCanvas {
  background: #fff;
  width: 600px;
  display: block;
  margin: 20px auto 10px;
  /*margin: 100px auto;*/
  border-radius: 5px;
  box-shadow: 0 4px 0 0 #ccc;
}

a {
  text-decoration: none;
  color: #333;
}

.container { 
  width: 75vw;
  text-align: center;
  margin: 0 auto;
  flex-grow: 1;

}

.container h1 {
  font-weight: 400;
  line-height: 200%;
}
.container p {
  width: 100%;
  line-height: 160%;
}

#drawing {
  border: 1px solid #eee;
  padding: 0px;
  display: block;
  margin: 0 auto;
}

h1 {
  font-size: 2em;
  padding: 0.25em;
}

.drawingmenu {
  margin-bottom: 10px;
  font-size: 10px;
}

.drawingmenu label, .drawingmenu select, {
  padding: 100px;
  padding-top: 20px;
}

button[value=submit] {
  display: block;
  margin: 50px auto;
}

/* added */

nav a:hover {
	text-decoration: none;
}

nav a:hover, nav ul li:hover  {
  background: black;
}

div.container ul.gallery a canvas.galleryCanvas {
  float: left;
  width: 12vw;
  height: 12vw;
  margin: .25vw;
  border: .5vw solid #333;
 -moz-transition: all 0.5s ease-in-out;
 -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background: white;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 6vw;
}

div .gallery img:hover {
  border: .5vw solid #2cc26b;
  width: 12.5vw;
  height: 12.5vw;
  margin: 0;
  overflow: hidden;
  border-radius: 6.25vw;  
  box-sizing: border-box;
}

nav {
  width: 100%;
  border: 0;
  background: #007FFF;
  margin: 0;
  margin-bottom: 20px;
  opacity: 0.75;
  z-index: 100;
}

nav ul {
  overflow: hidden;
  margin: 0;
  /* this changes the top */
  
  padding: 0;
  /* brings list to edge */
}

nav ul li {
  list-style: none;
  width: 12.5%;
  text-align: center;
  float: left;
  /* boxes in a line */
  
  box-sizing: border-box;
  /* aligns it in the box */
  
  border: 0px solid black;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

nav ul li a {
  display: block;
  text-decoration: none;
  font-size: .83em;
  color: white;
  padding: 20px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

nav.tile-nav ul li.colour-1 a {
  font-size: 1.5em;
  color: black;
  font-weight: bold;
  max-height: 57px;
  line-height: 20px;
  text-align: center;
  width: 12.5vw;
  float: right;
}

nav ul li {
  position: relative;
  left: 12.5vw;
}

nav a:hover, nav ul li:hover  {
  background: black;
}

.circle {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background: pink;
  margin: 0 auto;
}


footer {
  margin-top: 20px;
  padding-bottom: 50px;
  text-align: center;
}
.controls a {
  font-size: 2em;
  color: red;
  padding: 10px 20px;
  width: 20px;
  height: 10px;
  background: white;
  text-decoration: none;
}

/*
button {
  background: #0abe8c;
  box-shadow: 0 3px 0 0 #6A845F;
  color: #fff;
  outline: none;
  cursor: pointer;
  text-shadow: 0 1px #6A845F;
  display: block;
  font-size: 16px;
  line-height: 40px;
  border: none;
  border-radius: 5px;
  margin: 10px auto;
  padding: 5px 20px;
  width: 160px;
}*/


button {
  background: #0abe8c;
  width: 25vw;
  border-radius: 5px;
  color: #fff;
  margin: 0 auto;
  font-weight: bold;
  margin-top: 0;
  padding: 12px 20px;
  border: 0;
  display: block;
}

button:hover {
  color: #fff;
  background: #0abe8c;
  border: 0;
}

#clear {
  display: block;
  background: red;
  margin-bottom: 10px;
  width: 60px;
  height: 60px;
  text-align: center;
}

#drawingmenu {
  width: 600px;
  border: 0 solid black;
  margin: 0 auto;
  margin-top: 20px;
}

select {
  width: 25vw;
  border: 1px solid black;
  margin: 10px auto;
  display: block;
  border: 1px solid #eee;
  height:60px;
  padding: 10px;
}
