// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


* {
  margin: 0;
  padding: 0;  
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #384047;
  background: white;
  background: #eaeaea;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: #333;
}

h1 {
  font-size: 2em;
  padding: 0.25em;
}

/*////////////////////////////////////
//                                  //
//       canvas / showcanvas        //
//                                  //
////////////////////////////////////*/
canvas#drawing, canvas.showCanvas {
  background: #fff;
  width: 635px;
  height: 600px;
  display: block;
  margin: 20px auto 10px;
  border-radius: 5px;
  box-shadow: 0 4px 0 0 #ccc;
  /* changes
  box-shadow: 0 2px 2px 4px #ccc; */
  display: block;
  position: relative;
  top: -80px;
}

/*////////////////////////////////////
//                                  //
//        showCanvas changes        //
//                                  //
////////////////////////////////////*/
.container canvas.showCanvas {
  margin: 30px auto;
  height: 50vh;
  width: 50vh;
}

/* changes */
.container canvas.showCanvas {
  margin: 12.5vh auto 0;
  height: 600px;
  width: 635px;
}


/*////////////////////////////////////
//                                  //
//            container             //
//                                  //
////////////////////////////////////*/
.container { 
  width: 75vw;
  text-align: center;
  margin: 0 auto;
  /* the pencil at the bottom */
  flex-grow: 1;
}

.container h1 {
  font-weight: 400;
  line-height: 200%;
}
.container p {
  width: 100%;
  line-height: 160%;
}


/*////////////////////////////////////
//                                  //
//             gallery              //
//                                  //
////////////////////////////////////*/
.gallery {
  width: 75vw;
  margin: 0 auto;
}

div.container div.gallery a canvas.galleryCanvas {
  float: left;
  width: 12vw;
  height: 12vw;
  margin: .25vw;
  border: 1vw solid #333;
 -moz-transition: all 0.5s ease-in-out;
 -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background: white;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 6vw;
}

div.container div.gallery a canvas.galleryCanvas:hover {
  border: .75vw solid #333;
  width: 12.5vw;
  height: 12.5vw;
  margin: 0;
  overflow: hidden;
  border-radius: 6.25vw;  
  box-sizing: border-box;
}


/* NAV moved added */

nav a:hover {
  text-decoration: none;
}

nav a:hover, nav ul li:hover  {
  background: black;
}

/*////////////////////////////////////
//                                  //
//            navigation            //
//                                  //
////////////////////////////////////*/
nav {
  width: 100%;
  border: 0;
  background: #007FFF;
  margin: 0;
  margin-bottom: 20px;
  opacity: 1;
  z-index: 100;
}

nav ul {
  overflow: hidden;
  margin: 0;
  /* this changes the top */
  
  padding: 0;
  /* brings list to edge */
}

nav ul li {
  list-style: none;
  width: 12.5%;
  text-align: center;
  float: left;
  /* boxes in a line */
  
  box-sizing: border-box;
  /* aligns it in the box */
  
  border: 0px solid black;

  /* navigation transitions */
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

nav ul li a {
  display: block;
  text-decoration: none;
  font-size: .83em;
  color: white;
  padding: 20px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

nav.tile-nav ul li.colour-1 a {
  font-size: 1.5em;
  color: black;
  font-weight: bold;
  max-height: 57px;
  line-height: 20px;
  text-align: center;
  width: 12.5vw;
  float: right;
}

nav ul li {
  position: relative;
  left: 12.5vw;
}

nav a:hover, nav ul li:hover  {
  background: black;
}

.circle {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background: pink;
  margin: 0 auto;
}

/*////////////////////////////////////
//                                  //
//              footer              //
//                                  //
////////////////////////////////////*/
footer {
  margin-top: 20px;
  padding-bottom: 50px;
  text-align: center;
  background: #eaeaea;
  padding: 20px;
  width: 100%;
  clear: both;
  width: 100%;
}

footer img {
  background: #eaeaea;
  margin: 0 auto;
}

/*////////////////////////////////////
//                                  //
//       toolbar swatch scc         //
//                                  //
////////////////////////////////////*/
#toolbar {
  min-width: 635px;
  max-width: 635px;
  height: 120px;
  padding: 12px;
  padding: 20px;
  padding-bottom: 130px;
  background-color: #2f2f2f;
  color: white;
  border-radius: 10px;
  /* box-shadow: 0 4px 0 0 #ccc; */
  margin: 0 auto;
}

/* TOOLBAR CENTER, 600PX */
#toolbar {
/*  width: 600px; */
  margin: 0 auto;
}


/*////////////////////////////////////
//                                  //
//              controls            //
//                                  //
////////////////////////////////////*/
/* radiuscontrol shapecontrol and clearcanvas */
.radcontrol, .shapecontrol, .clearcanvas {
  width: 30px;
  height: 30px;
  background-color: #4f4f4f;
  display: inline-block;
  text-align: center;
  padding: 5px;
  border-radius: 3px;
  box-shadow: inset 0px 1px 0px rgba(255,255,255,0.5), 0px 2px 2px rgba(0,0,0,0.5);
  color: white;
  margin-bottom: 5px;
  margin-left: 5px;
}

/* #size shape and clear */
#size, #shape, #clear {
  float: left;
  color: white;
  clear: both;
  margin-bottom: 5px; 
}


/*////////////////////////////////////
//                                  //
//        colors  &  swatch         //
//                                  //
////////////////////////////////////*/
#colors {
  float: right;
  width: 520px;
  clear: both;
  position: relative;
  top: -120px;
}

#colors {
  background: #2f2f2f;
    overflow: hidden;
}

.swatch {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  box-shadow: inset 0px 1px 0px rgba(255,255,255,0.5), 0px 2px 2px rgba(0,0,0,0.5);
  display: inline-block;
  margin-left: 10px;
  margin-bottom: 5px;
}

.swatch.active {
  border: 5px solid white;
  box-shadow: inset 0px 1px 2px rgba(0,0,0,0.5);
}


/*////////////////////////////////////
//                                  //
//            container             //
//                                  //
////////////////////////////////////*/

.container {
  width: 100vw;
}


/*////////////////////////////////////
//                                  //
//             buttons              //
//                                  //
////////////////////////////////////*/

button {
  background: #0abe8c;
  width: 25vw;
  border-radius: 5px;
  color: #fff;
  margin: 0 auto;
  font-weight: bold;
  margin-top: 0;
  padding: 12px 20px;
  border: 0;
  display: block;
}

button:hover {
  color: #fff;
  border: 0;
}

button#savecanvas {
  margin: -40px auto 0;
  width: 16.77vw; 
  margin: 0 auto 40px;
  width: 33%;

  margin: -40px auto 0;
}

button#savecanvas:hover {
  /* button transitions */
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#deletecanvas {
  background: #0abe8c;
  width: 25vw;
  border-radius: 5px;
  color: #fff;
  margin: 0 auto;
  font-weight: bold;
  margin-top: 0;
  padding: 12px 20px;
  border: 0;
  display: block;
  background: red;

  width: 16.77vw;
}



/*////////////////////////////////////
//                                  //
//      drawing canvas wrapper      //
//                                  //
////////////////////////////////////*/
div#drawingwrapper {
  min-width: 635px;
  max-width: 635px;
  
  width: 50vw;
  border: 1px solid transparent;
  margin: 20px auto;
  padding: 0;
  border-radius: 5px;

/* changes*/
  background: white;
  margin-top: 30px;
  border-radius: 10px;

  background: transparent;
}

#toolbar {
  margin-top: 20px;
  margin-top: 0;
  width: 50vw;
}


/*////////////////////////////////////
//                                  //
//            canvas changes        //
//                                  //
////////////////////////////////////*/

div.container div#drawingwrapper canvas#drawing {
  width: 635px;
  height: 600px;
  margin: 0 auto;
  border-radius: 5px;
  display: block;

  border-radius: 0 0 5px 5px;

    position: relative;
  top: -110px;
}


/*////////////////////////////////////
//                                  //
//               artwork            //
//                                  //
////////////////////////////////////*/

#artwork {
  width: 635px;
  margin: 0 auto;
  border-radius: 5px;
  height: 40px;
  padding: 15px;
  line-height: 40px;
  font-size: 1.5em;
  background-color: white;
  color: #2f2f2f;
  border: 1px solid #ccc;
  text-align: center;

  font-weight: bold;

  position: relative;
  top: -70px;
}


